@use "tokens" as *;
@use "mixins" as *;

.statistic-item {
    width: min(100%, 270px);
    min-height: 270px;
    border-radius: $radius-sm;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-black;
}

.statistic-item-icon {
    display: flex;
    justify-content: end;
    font-size: 80px;
    font-weight: 700;
    font-family: $font-primary;
}

.statistic-item-number {
    font-family: $font-primary;
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

.statistic-item-description {
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    margin: 0;
}

@media (max-width: 768px) {
    .statistic-item {
        width: 100%;
        min-height: 220px;
        padding: 20px;
    }

    .statistic-item-icon {
        font-size: 56px;
    }

    .statistic-item-number {
        font-size: 46px;
    }

    .statistic-item-description {
        font-size: 18px;
    }
}
