.statistic-item {
    width: 270px;
    height: 270px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
}

.statistic-item-icon {
    display: flex;
    justify-content: end;
    font-size: 80px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

.statistic-item-number {
    font-family: "Space Grotesk", sans-serif;
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

.statistic-item-description {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    margin: 0;
}