@use "tokens" as *;
@use "mixins" as *;


.banner-container {
  @include full-shell();
  padding-block: 16px;
  position: relative;
  z-index: 100;
}

.banner-container img {
  width: 100%;
  height: auto;
  border-radius: $radius-xl;
  object-fit: cover;
}

@include tablet {
    .banner-container img {
        border-radius: $radius-lg;
    }
}

@include mobile {
    .banner-container {
        padding-block: 12px;
    }

    .banner-container img {
        border-radius: $radius-md;
        min-height: 220px;
    }
}

@include mobile-small {
    .banner-container img {
        border-radius: $radius-sm;
        min-height: 180px;
    }
}
