.accordion-item {
  border-bottom: 1px solid #000;
  padding: 24px 0;
}

.accordion-item:last-child {
  border-bottom: unset;
}

/* Header */
.accordion-header {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.accordion-title h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 52px;
  font-weight: 500;
  margin: 0;
}

.accordion-icon {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: 400;
}

.accordion-toggle {
  font-size: 48px;
}

/* Content */
.accordion-content {
  margin-left: 64px;
  margin-top: 16px;
  max-width: 80%;
}

.accordion-content p {
font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin-left: 16px;
}

.accordion-readmore {
  margin-top: 16px;
  padding: 16px 24px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.accordion-readmore:hover {
    background-color: #ffb199 !important;
}

.accordion-readmore a {
    text-decoration: none;
    color: #000000;
}