.mission {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    overflow: hidden;
}

.mission-image {
    background-image: url('../../../assets/images/mission.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}


.mission-content {
    position: relative;
}

.mission-content h2 {
    position: absolute;
    right: 15%;
    top: 70px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #FFFFFF;
    max-width: 520px;
    text-align: end;
    width: 35%;
}