.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 50px;
}


.logo-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-text {
    font-family: "Space Grotesk", sans-serif;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.horizotal-menu {
    display: flex;
    gap: 10px;
}


.horizotal-menu a {
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    color: #000000;
    font-size: 19px;
    font-weight: 500;
}

.horizotal-menu a.active {
    color: #ffb199;
}

.horizotal-menu a:hover {
    color: #ffb199;
}

.menu-btn {
    border: none;
    background-color: transparent;
}

.menu-btn i {
    font-size: 40px;
}