.footer {
    color: #fff;
}

.footer-content {
    padding: 80px 60px 30px;
    border-radius: 40px;
    background: #000;
    max-width: 100%;
    margin-top: 16px;
}

.footer-main h2 {
    font-size: 52px;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Space Grotesk", sans-serif;
}

.footer-padding {
    padding: 0 170px;
}

.footer-link {
    color: #f2a38b;
    margin-left: 10px;
    cursor: pointer;
    border-bottom: 2px solid #f2a38b;
    font-family: "Space Grotesk", sans-serif;
    font-size: 28px;
}

.footer-info {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer-contact p,
.footer-contact a {
    opacity: 0.85;
    margin-top: 0;
    margin-bottom: 8px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.footer-contact a {
    color: #f6f29c;
    text-decoration: none;
    margin: 8px 0 !important;
    font-family: "Space Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}



.phone {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px !important;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    opacity: 0.85;
}

.footer-links a:hover {
    opacity: 1;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 16px;
    flex-wrap: wrap;
}

.social {
    border: none;
    padding: 14px 30px;
    border-radius: 999px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

.facebook {
    background: #cfd3ff;
}

.youtube {
    background: #ffb3a1;
}

.instagram {
    background: #fbf6a3;
}

.telegram {
    background: #bfe7ff;
}

.twitter {
    background: #c9f0d9;
}

.footer-bottom {
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
    opacity: 0.6;
    color: #000;
}